* {
    margin: 0;
}

.fullpage-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(#353c44, #222931);
    align-items: center;
    justify-content: center;
    display: flex;
}

.reactor-container {
    height: 340px;
    width: 340px;
    border: 1px dashed #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core-inner {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 7px 5px #52fefe, 0px 0px 10px 10px #52fefe inset;
}

.core-outer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid #52fefe;
    background-color: rgb(19, 17, 17);
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 2px 1px #52fefe, 0px 0px 10px 5px #52fefe;
}

.core-wrapper {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #073c4b;
    box-shadow: 0px 0px 2px 1px #52fefe, 0px 0px 10px 5px #52fefe inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tunnel {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #52fefe, 0px 0px 5px 4px #52fefe inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coil1 {
    height: 29px;
    width: 40px;
    position: absolute;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #52fefe inset;
    top: 186px;
    left: 598px;
}