.fullpage-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(#353c44, #222931);
    align-items: center;
    justify-content: center;
    display: flex;
}

.reactor-container {
    height: 340px;
    width: 340px;
    border: 1px dashed #888;
}

.core-inner {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #fff;
}